{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<br><br>
<h3>Founder's Profile</h3><br><hr>
<h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</span></h4>
<span style="font-weight: bold"> <i class="fa fa-user-md" aria-hidden="true"></i> About Me: </span>
<p>{{ profile.about }}</p>
<span style="font-weight: bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: </span>
<p>{{ profile.location }} </p>
<span style="font-weight: bold"> <i class="fa fa-phone-square" aria-hidden="true"></i> Phone: </span>
<p>{{ profile.phone }} </p>
<p><span style="font-weight: bold"> <i class="fa fa-file-code-o" aria-hidden="true"></i> Tech Skills </span>
    <ul>
        {% for tech_stack in profile.tech_stack.all %}
            <li>{{ tech_stack.name }}</li>
        {% endfor %}
    </ul>
</p>
<span style="font-weight: bold"> <i class="fa fa-github" aria-hidden="true"></i> Github: </span>
<p> <a href="{{ profile.github }}">{{ profile.user.first_name }}'s Github</a> </p>
<span style="font-weight: bold"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin: </span>
<p><a href="{{ profile.linkedin}}">{{ profile.user.first_name }}'s Linkedin</a> </p>
<hr>
<a href="" class= "btn btn-success"  data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-envelope" aria-hidden="true"></i> Send Message</a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div><br>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type='submit' class='btn btn-primary'>Send</button>
                
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
    </div>
{% endblock content %}